* {
    margin: 0;
    padding: 0;
}
html {
    background: rgba(94, 1, 117, 0.9);
    color: #FFF;
    font-family: 'Noto Sans', sans-serif;
}
.loader {
    border: 2px solid #760fb3; 
    border-top: 2px solid #1c1c1d;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    animation: spin 0.3s linear infinite;
    display: none;
    margin: 50px auto;
}
.active {
    display:block;
}

.info {
    margin-top: 1em;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 2fr 170px; 
    grid-template-areas: "content image";
    position: relative;
    color: black;
    padding: 20px;
    text-align: left;
}

.info:hover {
    background-color: rgba(5, 5, 19, 0.3);
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    color: #100116;
}
h3 {
    font-size: 1.2rem;
    opacity: 0.6;
    margin: 0.5em 0 1em 0; 
    color: #b7b3b9;
}
p {
    margin-bottom: 0.8em;
    line-height: 1.8em;
}
a {
    color: #100116;
    text-decoration: none;
}
a:hover {
    background-color: #C005FE;
}

.input {
    background-color: #100116;
    border-color: black;
    color: #e5e5e5;
    box-shadow: inset 0 1px 2px black;
    max-width: 100%;
    width: 100%;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    -webkit-box-shadow: 0px 2px 30px -4px black;
    -moz-box-shadow: 0px 2px 30px -4px black;
    box-shadow: 2px 2px 30px -4px white;
    box-sizing: border-box;
    padding: 1.2em 1.2em;
}
form {
    position: relative;
    display: block;
    top: 0px;
    margin: auto;
    width: 400px;
}
.results_num {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    color: #b7b3b9;
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}
.movies_container {
    margin: 20px 30px 40px 30px;
    text-align: center;
}
.movie_img {
    max-width: 100%;
    height: auto;
    box-shadow: 5px -5px 5px  rgb(17, 16, 16);

}
.movie_details {
    grid-area: content;
    margin-right: 30px;
}
.overview {
    margin-bottom: 0.8em;
    line-height: 1.8em;
    font-family: Arial, sans-serif;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}